[submodule "Engine/Libraries/GLFW"]
	path = Engine/ThirdParty/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Engine/Libraries/ImGui"]
	path = Engine/ThirdParty/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "Engine/Libraries/glm"]
	path = Engine/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/ThirdParty/Renderer"]
	path = Engine/ThirdParty/Renderer
	url = https://github.com/Goubermouche/Renderer
